<!DOCTYPE html>
<html>

  <head>
    <title>Fuzzy Signature Viewer</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" charset="utf-8">
  </head>

  <body>
  </body>

  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="SignatureVisualizer.js"></script>
  <script>

  /*
  /// example usage of AutomatonVisualizer.js:
  var jsondata = "{\"name\":\"Max\",\"children\":[{\"name\":\"Sylvia\",\"children\":[{\"name\":\"Craig\"},{\"name\":\"Robin\"},{\"name\":\"Anna\"}]},{\"name\":\"John\"}, {\"name\":\"David\",\"children\":[{\"name\":\"Jeff\",\"size\":3534},{\"name\":\"Buffy\",\"size\":5731}]}]}"

  initialize(jsondata, 500, 500, 20);
  visualize();
  */

  </script>

</html>